*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.img1 {
    position:absolute;
    width:20%;
    height:80vh;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: 1;
    opacity:90%;
}
.img2 {
    position:absolute;
    width:20%;
    height:80vh;
    left: 1229px;
    top: 0px;
    right:1000px;
    bottom:10px;
    z-index: 1;
    opacity:90%;
}