*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.randomnum{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: bolder;
}
.refresh{
    border: none;
    width: 50px;
    height: 50px;
    font-size: 50px;
    background: none;
    cursor: pointer;
    transform: translateX(50%);
}
@media(max-width:769px){
    .refresh {
        transform: translateX(350%) translateY(1000%);
    }
}