*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.randomnum{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: bolder;
}