*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    background: none;
    border: 2px solid black;
    font-size: 35px;
    padding: 20px 40px;
    color: black;
    width: 150px;
    cursor: pointer;
    position: relative;
}
.btn:hover{
    background: black;
    color: white;
}